.home {
  width: 100%;

  .home__container {
    width: 100%;
    padding-top: 12rem;

    .container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;

      h3 {
        text-align: end;
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        line-height: 34px;
      }

      .spannerr {
        text-align: end;
        display: none;
      }
    }
  }
}

/*=========== RESPONSIVE DESIGN ===========*/
@media screen and (max-width: 1088px) {
  .home {
    .home__container {
      padding-top: 11rem;

      .container {
        margin-bottom: 2rem;

        h3 {
          line-height: 27px;
        }
      }
    }
  }
}

@media screen and (max-width: 628px) {
  .home {
    .home__container {
      padding-top: 9rem;

      .container {
        margin-bottom: 2rem;

        h3 {
          line-height: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .home {
    .home__container {
      .container {
        h3 {
          display: none;
        }

        .spannerr {
          display: block;
          text-align: end;
          font-size: calc(var(--h3-font-size) + 0.3rem);
          line-height: 1.3;
          font-family: var(--aeonik-font);
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .home {
    .home__container {
      .container {
        span {
          font-size: calc(var(--h3-font-size) + 0.2rem);
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .home {
    .home__container {
      .container {
        span {
          font-size: calc(var(--h3-font-size) + 0.12rem);
        }
      }
    }
  }
}
