.navigation {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.nav__logo {
  width: 190px;
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}

.nav__in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  padding: 0.85rem 1.2rem 0.9rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.n__link {
  color: white;
  opacity: 1;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.6;
  }
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu {
  background-color: black;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

.chev__wrap {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 100%;
  border: 1px solid white;
  display: grid;
  place-items: center;
}

.chev {
  margin-top: -0.1rem;
  display: block;
  transform: rotate(180deg);
  svg {
    width: 20px;
    height: auto;

    path {
      fill: white;
    }
  }
}

.men

.men {
  color: white;
  font-family: var(--medium-font);
}

///RESPONSIVE DESIGN
@media screen and (max-width: 950px) {
  .navbar {
    display: none;
  }

  .menu {
    display: flex;
  }

  .buttoner {
    display: none;
  }
}
