.about__team{
  width: 100%;
  margin-bottom: 5rem;

  .at__container{
    .atc__top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 3rem;

      .atc__overflow{
        overflow: hidden;

        &:nth-of-type(2) {
          width: 35%;
        }

        &:nth-of-type(1) {
          position: relative;
          left: 100px;
        }

        span{
          display: block;
          font-size: var(--smaller-font-size);
          font-family: var(--montserrat2-font);
          color: var(--green);
          position: relative;
        }
        
        p{
          line-height: 23px;
          display: block;
          position: relative;
          will-change: transform;
        }
      }

    }
  }
}

/*=========== RESPONSIVE DESIGN ============*/
@media screen and (max-width: 1200px) {
  .about__team{
    .at__container{
      .atc__top{
        .atc__overflow{
  
          &:nth-of-type(2) {
            width: 50%;
          }
        }
  
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about__team{
    .at__container{
      .atc__top{
        .atc__overflow{
  
          &:nth-of-type(2) {
            width: 55%;
          }
        }
  
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .about__team{
    .at__container{
      .atc__top{
        .atc__overflow{
          &:nth-of-type(1) {
            left: 0px;
          }
        }
  
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about__team{
    .at__container{
      .atc__top{
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;

        .atc__overflow{
          &:nth-of-type(2) {
            width: 100%;
          }
        }
  
      }
    }
  }
}

