.av__section{
  width: 100%;
  padding: 6rem 0 7rem;
}

.av__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.avv__p{
  color: black;
  font-size: calc(var(--50-font-size) - 0.2rem);
  line-height: 1.1;
  letter-spacing: -2%;
  width: 80%;
}

.values{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}