.aboutaccolades{
  width: 100%;
  margin-bottom: 6rem;

  .about__accolades{
    display: grid;
    gap: 3rem;

    .aac__overflow{
      position: relative;
      left: 100px;
      overflow: hidden;

      span{
        font-size: var(--smaller-font-size);
        font
      }
    }
  }
}