.about__services{
  width: 100%;
  margin-bottom: 5rem;

  .as__container{
    display: grid;
    gap: 3rem;

    .asc__top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

    
      .asc__overflow{
        overflow: hidden;

        &:nth-of-type(2) {
          width: 35%;
        }

        &:nth-of-type(1) {
          position: relative;
          left: 100px;
        }

        span{
          display: block;
          font-size: var(--smaller-font-size);
          font-family: var(--montserrat2-font);
          color: var(--gold);
          position: relative;
        }
        
        p{
          line-height: 23px;
          display: block;
          position: relative;
          will-change: transform;
        }
      }
    }

    .asc__bottom{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

/*============== RESPONSIVE DESIGN =============*/
@media screen and (max-width: 1200px) {
  .about__services{
    margin-bottom: 5rem;
  
    .as__container{  
      .asc__top{      
        .asc__overflow{
          overflow: hidden;
  
          &:nth-of-type(2) {
            width: 55%;
          }
        }
      }
  
      .asc__bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .about__services{
  
    .as__container{  
      .asc__top{      
        .asc__overflow{
          &:nth-of-type(2) {
            width: 55%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .about__services{
  
    .as__container{  
      .asc__top{      
        .asc__overflow{
          &:nth-of-type(2) {
            width: 55%;
          }

          &:nth-of-type(1) {
            left: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about__services{
  
    .as__container{  
      .asc__top{  
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;

        .asc__overflow{
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }
    }
  }
}