.about__services{
  width: 100%;
  margin-bottom: 5rem;

  .as__container{
    display: grid;
    gap: 3rem;

    .asc__top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      

      .asc__overflow{
        overflow: hidden;
        
        width: 35%;
        
        p{
          line-height: 24px;
          display: block;
          position: relative;
          will-change: transform;
        }
      }
    }

    .asc__bottom{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}