.lead__section {
  width: 100%;
  height: auto;
}

.lead__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.lead__right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.lead__wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image__wrap {
  width: 100%;
  aspect-ratio: 450/560;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  img {
    object-fit: cover;
    object-position: 50% 0;
  }
}

.lead__mid {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.lm__p {
  font-size: calc(var(--20-font-size) + 0.2rem);
  color: black;
  font-family: var(--medium-font);
}

.lm__span {
  font-size: calc(var(--20-font-size) - 0.1rem);
}

.lead__bot {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    color: black;
    text-decoration: underline;
  }
}

.lb__p {
  text-align: justify;
}
