.project__hero{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.image__wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.imagee{
  width: 100%;
  height: 100%;
  position: relative;

  img{
    object-fit: cover;
  }
}

.image__grad{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  ba
}