.pro__wrapper {
  padding: 5rem 0 7rem;
  width: 100%;
  height: auto;
}

.pro__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

//RESPONSIVE DESIGN
@media screen and (max-width: 1024px) {
  .hp__bottom {
    gap: 16px;
  }
}

@media screen and (max-width: 850px) {
  .pro__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
