.footer{
  width: 100%;
  height: 25rem;
  background-color: var(--green-2);

  .footer__container{
    height: 100%;
    padding: 3rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3{
      font-size: var(--h2-font-size);
      font-weight: var(--font-medium);
    }

    .contact__email{
      font-size: 4rem;
      color: var(--green);
      font-weight: var(--font-medium);
    }

    .footer__links{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: var(--smaller-font-size);
      

      a, span{
        color: var(--green);
        font-weight: var(--font-medium);
      }

      .f-social__links{
        display: flex;
        gap: 1rem;
      }
    }

  }
}

/*============= RESPONSIVE DESIGN ==============*/
@media screen and (max-width: 1300px) {
  .footer{
    height: 25rem;
  
    .footer__container{
  
      .contact__email{
        font-size: 3rem;
      }
  
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer{
    height: 25rem;
  
    .footer__container{
  
      .contact__email{
        font-size: 2.5rem;
      }
  
    }
  }
}

@media screen and (max-width: 870px) {
  .footer{
    height: 22rem;
  
    .footer__container{
      padding: 2.5rem 0;
  
      .contact__email{
        font-size: 2rem;
      }
  
    }
  }
}

@media screen and (max-width: 710px) {
  .footer{

  
    .footer__container{

  
      .contact__email{
        font-size: 1.5rem;
        font-family: var(--montserrat2-font);
      }

      .footer__links{
        font-size: var(--tiny-font-size);
      }
  
    }
  }
}

@media screen and (max-width: 520px) {
  .footer{  
    .footer__container{
  
      .contact__email{
        font-size: 1rem;
      }

      .footer__links{        
        .f-social__links{
          display: none;
        }
      }
  
    }
  }
}


@media screen and (max-width: 430px) {
  .footer{
    height: 19rem;
  
    .footer__container{
      padding: 2.5rem 0;  
    }
  }
}