.footer{
  width: 100%;
  height: 25rem;
  background-color: var(--gold);

  .footer__container{
    height: 100%;
    padding: 3rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3{
      font-size: var(--h2-font-size);
      font-weight: var(--font-medium);
    }

    .contact__email{
      font-size: 4rem;
      color: var(--text-color);
      font-weight: var(--font-medium);
    }

    .footer__links{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: var(--smaller-font-size);
      

      a, span{
        color: var(--text-color);
        font-weight: var(--font-medium);
      }

      .f-social__links{
        display: flex;
        gap: 1rem;
      }
    }

  }
}

/*============= RESPONSIVE DESIGN ==============*/
@media screen and (max-width: ) {
  
}