.preloader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--ivory);
  overflow: hidden;

  .preloader__text{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .home__active{
      width: max-content;
      height: max-content;
      display: grid;
      gap: 0.1rem;
      place-items: center;

      .preloader__overflow{
        overflow: hidden;
        width: max-content;
        height: max-content;

        &::nth-of-type(1){
          width: 81px;
          height: 81px;
        }

        p{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;

          span{
            display: block;
            position: relative;
            font-size: calc(var(--h3-font-size) - 0.1rem);
            font-family: var(--optician-font);
            font-weight: 100;
          }

        }
      }
    }
    
  }

  .preloader__overlay{
    display: flex;

    .bar{
      width: 10vw;
      height: 105vh;
      background: var(--green);
    }
  }
}