.award__slide{
  width: 100%;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 0.38fr 0.62fr;
  border-bottom: 1px solid black;

  cursor: pointer;

  &:hover {
    .as__left{
      opacity: 1;
    }

    .as__right{
      .as__content{  
        opacity: 1;
      }

      .as__image{
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .as__left{
    p{
      text-transform: capitalize;
    }
    opacity: 0.5;
    transition: opacity 0.8s ease;
  }

  .as__right{
    position: relative;

    .as__content{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.5;
      transition: opacity 0.8s ease;

      span{
        text-transform: capitalize;
      }
    }

    .as__image{
      width: 21%;
      aspect-ratio: 1/1.2;
      position: absolute;
      top: 50%;
      left: 72%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);

      img{
        object-fit: cover;
      }

    }
  }
}