.home{
  width: 100%;

  .home__container{
    width: 100%;
    padding-top: 11rem;

    .container{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;

      h3{
        text-align: end;
        font-size: var(--h3-font-size);
        font-weight: var(--font-normal);
        line-height: 30px;
      }

      h4{
        text-align: end;
        display: none;
      }
    }
  }

}


/*=========== RESPONSIVE DESIGN ===========*/
@media screen and (max-width: 1088px) {
  .home{
    .home__container{
      padding-top: 10rem;
  
      .container{
        margin-bottom: 2rem;
  
        h3{
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 628px) {
  .home{
    .home__container{  
      padding-top: 8rem;
      .container{
        margin-bottom: 2rem;
  
        h3{
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 372px) {
  .home{
    .home__container{
      .container{  
        h3{
          display: none;
        }

        h4{
          display: block;
          text-align: end;
          font-size: calc(var(--h3-font-size) - 0.05rem);
          font-weight: var(--font-normal);
        }
      }
    }
  }
}