.m-sliderContainer{
  position: relative;
  border-bottom: 1px solid var(--green);
  border-top: 1px solid  ;
  margin-bottom: 3rem;
  font-family: var(--montserrat2-font);

  .m-slider{
    position: relative;
    white-space: nowrap;
    display: flex;

    p{
      margin: 0;
      color: var(--text-color);
      font-size: calc(var(--biggest-font-size) + 1rem);
      font-weight: var(--font-medium);
      

      span{
        display: inline-block;
        width: 5px;
        height: 5px;
      }

      &:nth-of-type(2){
        position: absolute;
        left: 2202px;
      }
    }
  }
}

/*========= RESPONSIVE DESIGN ===========*/
@media screen and (max-width: 1088px) {
  .m-sliderContainer{
    .m-slider{
  
      p{
        &:nth-of-type(2){
          position: absolute;
          left: 1902.22px;
        }
      }
    }
  }
}

@media screen and (max-width: 628px) {
  .m-sliderContainer{
    .m-slider{
  
      p{
        &:nth-of-type(2){
          position: absolute;
          left: 1403px;
        }
      }
    }
  }
}