.testi__section {
  width: 100%;
  height: auto;
  padding: 5rem 7rem;
}

.testi__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.testi__top {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testi__p {
  color: black;
  font-size: calc(var(--50-font-size) + 0.4rem);
  line-height: 1.05;
  letter-spacing: -2%;
}

.testi__bottom {
  width: 100%;
}

// .slider {
//   width: 100%;
//   height: 100%;
// }

.testi__box {
  width: 100%;
  aspect-ratio: 580/420;
  padding: 1.75rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 4px;
  user-select: none;
}

.testi__p2 {
  font-size: calc(var(--20-font-size) + 0.1rem);
  line-height: 1.3;
}

.testi__bottomer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.tb__left {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.tb__span {
  color: black;
  font-size: calc(var(--normal-font-size) + 0.2rem);
}

// .tb__span2{
//   font-size: var(--small-font-size);
// }

.buttoner {
  width: max-content;
  margin: 2.5rem auto 0 auto;
}

.button__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button,
.button2 {
  width: 54px;
  height: 54px;
  border-radius: 54px;
  background-color: black;
  display: grid;
  place-items: center;
  cursor: pointer;

  svg {
    width: 28px;
    height: auto;
  }
}

.button2 {
  transform: rotate(180deg);
}
