.input__wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.drop__wrap{
  position: relative;
  width: 100%;
}

.drop__box{}

.label {
  text-transform: none;
  font-size: calc(var(--normal-font-size));
  color: black;
  font-family: var(--medium-font);
}

.error {
  font-size: calc(var(--normal-font-size) - 0.1rem);
  color: rgb(255, 29, 29);
}
