.roundtext{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.round{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.ptext{
  font-size: calc(var(--normal-font-size) - 0.05rem);
  text-transform: uppercase;
  font-family: var(--ttnormal);
  le
}