.aboutaccolades{
  width: 100%;
  margin-bottom: 8rem;

  .about__accolades{
    display: grid;
    gap: 3rem;

    .aac__overflow{
      position: relative;
      left: 100px;
      overflow: hidden;

      span{
        font-size: var(--small-font-size);
        font-family: var(--aeonik-font);
        color: var(--gold);
        display: block;
        position: relative;
      }
    }
  }
}